@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
  font-family: 'Magistral Book';
  src: url('../fonts/Magistral-Book.eot');
  src: local('Magistral Book'), local('Magistral-Book'),
  url('../fonts/Magistral-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Magistral-Book.woff2') format('woff2'),
  url('../fonts/Magistral-Book.woff') format('woff'),
  url('../fonts/Magistral-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

