body {
  font-family: 'Magistral Book';
  width: 100vw;
  overflow-x: hidden;
  color: #232326;
  
  &.mainPage {
    background: #F0F0F3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
}

img {
  width: -webkit-fill-available;
}

.container {
  width: 100%;
  padding: 0 150px;
  margin: 0 auto;
}

.accent {
  font-family: 'Magistral Book';
  color: #00A94E;
}

.col-2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

#toTop {
  position: fixed;
  right: 150px;
  bottom: 50px;
  width: 95px;
  height: 95px;
  cursor: pointer;
  z-index: 100;

  transform: translateX(1000%);
  transition: .5s;

  &.show {
    transform: translateY(0);
  }
}