.article {
  padding-top: 50px;
  position: relative;
  padding-bottom: 230px;

  &_title {
    position: relative;
    z-index: 100;
    h1 {
      font-weight: 400;
      position: relative;
      z-index: 100;
      font-size: 163px;
      text-transform: uppercase;
      color: #232326;
      margin: 0;
      padding-top: 40px;
    }

    &--text {
      font-family: 'Inter';
      /*position: absolute;*/
      max-width: 594px;
      bottom: 0;
      margin: 0;
      z-index: 100;
      font-size: 26px;
      margin-top: 54px;
    }
  }

  &_withGray {
    &.sportLife {
      .article_title {
        height: 786px;
        h1 {
          font-size: 95px;
        }
      }
      &:after {
        background: url("../img/sportlife.png");
        width: 1051px;
        height: 785px;
      }
    }
    &:after {
      content: "";
      position: absolute;
      right: 0;
      height: 500px;
      width: 60vw;
      background: #D9D9D9;
      top: 0;
      z-index: 1;
    }
    .article_title{
      height: 500px;
    }
  }

  &_photo {
    background-size: auto !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;

    .article_title {
      height: 730px !important;

      &--text {
        color: #4E4E53;
      }
    }

    &::after {
      background: linear-gradient(180deg, rgba(253, 253, 253, 0) 77.59%, rgba(253, 253, 253, 0.74) 92.13%, #FDFDFD 100%);
      content: "";
      position: absolute;
      width: 100vw;
      height: 1177px;
      top: 0;
      z-index: 1;
    }
    * {
      z-index: 10;
    }
  }

  .bosses_grid {
    margin-top: 250px;
    padding: 0 155px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 110px 220px;

    &--element {
      display: grid;
      padding: 15px 150px 15px 15px;
      background: #ffffff;
      grid-template-columns: 435px 100%;
      gap: 84px;
      align-items: center;
      position: relative;
      filter: drop-shadow(-61px 107px 49px rgba(0, 0, 0, 0.01)) drop-shadow(-34px 60px 42px rgba(0, 0, 0, 0.05)) drop-shadow(-15px 27px 31px rgba(0, 0, 0, 0.09)) drop-shadow(-4px 7px 17px rgba(0, 0, 0, 0.1)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));

      &::after {
        content: "";
        display: block;
        width: 155px;
        height: 29px;
        background: url("../img/logo.png") no-repeat;
        background-size: cover;
        position: absolute;
        top: 16px;
        right: 20px;
      }
    }

    .bosses_name {
      font-weight: 400;
      font-size: 39px;
      color: #00A94E;
      max-width: 694px;
      margin: 0 0 20px;
    }
    .bosses_date {
      font-size: 39px;
      color: #9A99A2;
      margin-bottom: 40px;
      display: block;
    }
    .bosses_permission {
      font-family: 'Inter';
      font-size: 25px;
      color: #232326;
      max-width: 628px;
      display: block;
    }
  }

  &_pochetnie {
    background: url("../img/pochetnie_bg.png");

    .article_title {
      h1 {
        font-size: 95px;
        display: block;
        max-width: 1062px;
      }
    }
    * {
      z-index: 10;
    }
  }

  .neft_grid {
    display: grid;
    grid-template-columns: 411px 411px 411px;
    gap: 110px 194px;
    margin-top: 200px;

    &--element {
      img {
        box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
      }
      h3 {
        font-weight: 400;
        font-size: 37px;
        color: #232326;
        margin: 30px 0 0;
      }
    }
  }

  .content_block, .aside_block {
    background: #FFFFFF;
    box-shadow: 0px 12px 12px rgba(50, 50, 71, 0.08), 0px 16px 24px rgba(50, 50, 71, 0.08);
    margin-bottom: 66px;
    padding: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    p {
      max-width: 586px;
      padding: 15px 15px 0;
      margin: 0;
      font-size: 30px;
      color: #9A99A2 !important;
      font-family: 'Magistral Book' !important;
    }
  }

  &_elektro {
    background: url("../img/elektro_bg.png");
  }

  .article_electro {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 946px 608px;
    justify-content: space-between;

    .content_block {
      padding: 20px;
      margin-top: 150px;
      &:nth-child(2) {
        margin-bottom: 150px;
      }
    }

    .article_electro--aside {
      .aside_block {
        padding: 15px;
        &:nth-child(1), &:nth-child(2) {
          margin-bottom: 66px;
        }
        &:nth-child(3) {
          margin-bottom: 150px;
        }
      }
    }

    &--content {
      p {
        font-family: 'Inter';
        max-width: 884px;
        font-size: 22px;
        line-height: 150%;
        color: #232326;
      }
    }
  }

  &_rewards {
    .article_title {
      height: 650px;
    }
    &::after {
      z-index: 1;
      width: 100vw;
      height: 890px;
      content: "";
      display: block;
      top: 0;
      right: 0;
      position: absolute;

      background: url("../img/rewards_bg.png") no-repeat center center;
      background-size: cover;
    }

    * {
      z-index: 100;
    }
  }

  .rewards {
    margin-top: 150px;
    .reward_block {
      display: grid;
      grid-template-columns: 15% 85%;

      .reward_unscript {
        min-width: 634px;
        /*display: flex;
        justify-content: space-between;*/

        display: grid;
        grid-template-columns: 20% 100%;
        gap: 170px;
        margin-left: 260px;

        &.gray-custom {
          .reward_info--text{
            color: #77767E;
          }
        }
      }

      .reward_time {
        font-size: 39px;
        color: #E73B24;
        position: relative;
        &:before {
          content: "";
          display: block;
          background: url("../img/list.svg");
          width: 44px;
          height: 44px;
          position: absolute;
          transform: translate(-50%);
          left: 35px;
          top: 45px;
        }
        &:after {
          height: 50%;
          content: '';
          position: absolute;
          display: block;
          width: 4px;
          background: linear-gradient(0deg, rgba(231, 59, 36, 0) 0%, #E73B24 100%);
          transform: translate(-50%);
          left: 35px;
          top: 85px;
        }
      }

      .reward_info {
        gap: 46px;
        padding: 30px;
        border-bottom: 2px solid #B8B6BF;
        width: 100%;
        display: flex;
        /*align-items: center;
        justify-content: center;*/
        flex-direction: column;
        &--times {
          font-size: 39px;
          color: #9A99A2;
        }

        &--text {
          font-size: 39px;
          color: #232326;
        }
      }
    }
  }

  .rewards_content {
    width: 63%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    color: #232326;
    margin: 0 0 auto auto;
  }

  &_history {
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 66vw;
      height: 49vw;
      z-index: 1;
      right: 0;
      background: url('../img/history_bg.png') center center/cover no-repeat;
      top: 0;
    }
    .article_title {
      height: 972px;
      /*h1 {
        color: #D1CFD7;
      }*/

      .article_title--text {
        display: block;
        position: relative;
        margin-top: 58px;
        font-size: 22px;

        &::after {
          content: "";
          display: block;
          position: absolute;
          z-index: 1000;
          top: 150px;
          width: 4px;
          height: 550px;
          background: linear-gradient(0deg, rgba(231, 59, 36, 0) 0%, #E73B24 100%);
          transform: translate(-50%);
          left: 35px;
        }
      }
    }
  }

  .history {
    &_block {
      /*display: flex;
      flex-direction: row;*/

      display: grid;
      grid-template-columns: 15% 85%;



      &:first-child {
        .history_info {
          border-top: 2px solid #B8B6BF;
        }
      }

      &:last-child {
        .history_info {
          border-bottom: none;
        }
      }
    }

    &_info {
      display: grid;
      grid-template-columns: 780px 575px;
      gap: 24px;

      border-bottom: 2px solid #B8B6BF;
      padding: 30px 0;

      &--text {
        font-family: 'Inter';
        font-size: 22px;
        color: #232326;
      }

      &--photo {
        img {
          width: -webkit-fill-available;
        }

        p {
          font-size: 22px;
        }
      }
    }

    &_time {
      font-size: 39px;
      color: #E73B24;
      position: relative;
      &:before {
        content: "";
        display: block;
        background: url("../img/list.svg");
        width: 44px;
        height: 44px;
        position: absolute;
        transform: translate(-50%);
        left: 35px;
        top: 45px;
      }
      &:after {
        height: 85%;
        content: '';
        position: absolute;
        display: block;
        width: 4px;
        background: linear-gradient(0deg, rgba(231, 59, 36, 0) 0%, #E73B24 100%);
        transform: translate(-50%);
        left: 35px;
        top: 85px;
      }
    }
  }

  &_preparing {
    margin-top: 0;
    background: url("../img/prepare.png");
  }

  &_base {
    background: url("../img/base_bg.png");
    .article_title {
      height: auto;
      h1{
        font-size: 95px;
      }

      &--content {
        margin-top: 50px;
        p {
          font-family: 'Inter';
        }

        ul {
          font-size: 39px;
          text-transform: uppercase;
          list-style: none;
          position: relative;

          li {
            margin-bottom: 20px;
            padding: 0;
            max-width: 621px;
            margin-left: 24px;

            &:last-child {
              margin-bottom: 0;
            }

            &::before{
              content: '';
              display: block;
              position: absolute;

              width: 44px;
              height: 44px;
              left: 0;

              background: url("../img/list.svg") no-repeat center center;
              background-size: cover;
            }
          }
        }
      }
    }
  }

  .base {
    margin-top: 160px;
    margin-bottom: 66px;

    /*.content_block {
      p{
        padding: 15px 0px 15px 15px;
        margin: 0;
      }
    }*/

    &_block {
      display: grid;
      grid-template-columns: 884px 578px;
      justify-content: space-between;

      &:first-child {
        .base_block--text {
          margin-top: 60px;
        }
      }

      &--text {
        font-family: 'Inter';
        font-size: 22px;

        p {
          margin: 0;
        }

        /*.accent {
          font-size: 36px;
        }*/
      }

      &.base_grid {
        grid-template-columns: 1fr 1fr;
        gap: 163px 66px;
        width: fit-content;
        margin: 0 0 0 auto;

        .content_block {
          width: fit-content;
          margin: 0;

          &.col-2 {
            p {
              max-width: 68vw;
            }
          }
        }
      }
    }
  }

  &_building {
    margin-top: 0;
    background: url("../img/building.png") no-repeat center;

    .article_title--text {
      max-width: 702px;
    }
  }

  .building_content {
    margin-top: 80px;
    .building_block {
      display: grid;
      grid-template-columns: 946px 608px;
      justify-content: space-between;

      &--text {
        p{
          font-family: 'Inter';
          font-size: 22px;
        }
        .content_block {
          margin-top: 160px;
          p {
            font-size: 30px;
          }
        }
      }
    }
  }

  .building_tseh {
    margin-top: 130px;
    &--title {
      font-size: 64px;
      text-transform: uppercase;
      color: #F7F7FA;
      padding: 36px 0;
      background: #00A94E;
    }

    &--bosses {
      margin-top: 60px;
      &__title {
        font-size: 36px;
        text-transform: uppercase;
        color: #232326;
      }

      &__block {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 50px;

        .bosses-list{
          display: flex;
          flex-direction: column;
          gap: 20px;
          .boss {
            display: flex;
            gap: 10px;
            flex-direction: column;
            &_permission {
              font-family: 'Inter';
              font-size: 22px;
              color: #77767E;
            }
            &_name {
              font-size: 36px;
              color: #232326;
            }
          }
        }
      }
    }

    &--gallery {
      margin-top: 130px;
      .container {
        display: grid;
        grid-template-columns: 1fr 1.4fr;
        gap: 50px;
      }

      .content_block {
        p {
          max-width: fit-content;
        }
      }

      &__left {
        margin-top: 240px;
        .content_block:nth-child(2) {
          p {
            font-size: 26px;
          }
        }
      }
    }

    &_2 {
      .building_tseh--bosses__block {
        .content_block {
          margin-right: 288px;
        }
      }

      .gallery_text {
        font-family: 'Inter';
        font-size: 22px;
        color: #232326;
      }
    }
  }

  &_burovie {
    background: url("../img/burovie_bg.png");
  }

  .burovie-grid {
    padding: 0 113px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px 143px;

    &__element {
      padding: 15px;
      background: #FFFFFF;
      box-shadow: 0px 12px 12px rgba(50, 50, 71, 0.08), 0px 16px 24px rgba(50, 50, 71, 0.08);
    }

    &__title {
      display: block;
      margin-top: 25px;
      margin-bottom: 22px;
      padding-right: 19px;
      padding-left: 19px;
      font-size: 30px;
      color: #4E4E53;
    }

    &__desc {
      font-size: 24px;
      color: #77767E;
      padding-right: 19px;
      padding-left: 19px;
      padding-bottom: 50px;
    }
  }

  .preparing_content {
    display: grid;
    grid-template-columns: 812px auto;
    gap: 86px;

    &--main {
      margin-bottom: 100px;

      &:first-child {
        .preparing_content--text {
          margin-top: 54px;
        }
      }

      .content_block {
        margin: 0;
      }
    }

    &--text {
      margin-bottom: 100px;
      font-family: 'Inter';
      font-size: 22px;
      color: #232326;

      &:last-child {
        margin-bottom: 0;
        margin-top: 100px;
      }
    }
  }

  .preparing_grid {
    display: grid;
    grid-template-columns: 722px 814px;
    gap: 71px 80px;

    .content_block {
      margin: 0;
      &:nth-child(2) {
        grid-row-start: 1;
        grid-row-end: 3;

        grid-column-start: 2;
        grid-column-end: 3;
      }
    }
  }

  &_gallery {
    background: url("../img/gallery_bg.png");
  }

  .gallery_grid {
    display: grid;
    grid-template-columns: 301px 301px 301px 301px;
    justify-content: space-between;
    row-gap: 95px;

    &--item {
      a {
        text-decoration: none;
        font-size: 26px;
        line-height: 130%;
        color: #4E4E53;

        &:hover {
          color: #00A94E;
          text-decoration: underline;
        }
      }

      &--title {
        margin-top: 24px;
      }
    }
  }
}